In [11]:
import pandas as pd
import klib as kl

In [12]:
pcs_data = pd.read_csv('./validated_csv.csv', index_col=False)
project_type = pd.read_csv('./project_types.csv')

/var/folders/d4/rcb0hfcs0bzgr7z0mw72lc_w0000gn/T/ipykernel_46249/1144237931.py:1: DtypeWarning: Columns (4,13,17,45,46) have mixed types. Specify dtype option on import or set low_memory=False.
  pcs_data = pd.read_csv('./validated_csv.csv', index_col=False)

In [13]:
pcs_data = pcs_data.iloc[:, 2:]
pcs_data.head(5)

,division,subdivision,item_code,description,quantity,unit,labor_hourly_rate,man_hrs_per_unit,total_man_hours,labor_total,...,projectId,phaseId,contentId,fileId,source_file_name,unit_7,quantity_6,unit_cost_24,total_mat_lab_equip_28,unit_cost_23
0,NaN,NaN,NaN,Estimated Project Total,1.0,NaN,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,"Standard Manhole, 7-foot or larger Diameter (d...",1.0,EA,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,"Standard Manhole, 8-foot diameter, (depth up t...",84000.0,EA,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,Escalation and Cost Growth,1.0,NaN,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,"Standard Manhole, 7-foot diameter, (depth up t...",17969.0,EA,$-,$-,$-,$-,...,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,0000-0000-0000-0000-0000-0000-0000-0000,MDAwMC0wMDAwLTAwMDAtMDAwMC0wMDAwLTAwMDAtMDAwMC...,Snapfinger 100 pc Comparison 050724.xlsx,NaN,NaN,NaN,NaN,NaN

In [15]:
project_type = kl.clean_column_names(project_type)
project_type = project_type.iloc[:, 2:]
project_type.head(5)

,project_category,construction_category,source,id,created_at,updated_at,rid,self,etag,attachments,pk_type,pk_filter,ts,account_id,updated_by_id
0,Offices & Warehouses,Commercial,0,709e86bb-a2bf-4fbe-bffd-dc8540df83cb,2022-01-18T21:37:24.3392757+00:00,2022-01-18T21:37:24.3392757+00:00,VOd7ALuXooIm7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a006f8e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN
1,Retail,Commercial,0,1a3d5500-bcf3-4784-8109-b79d00a1f912,2022-01-18T21:37:24.3738013+00:00,2022-01-18T21:37:24.3738014+00:00,VOd7ALuXooIn7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a00708e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN
2,Retail,Commercial,0,746ad014-c257-4fb2-be68-41345151ffdc,2022-01-18T21:37:24.4715998+00:00,2022-01-18T21:37:24.4715999+00:00,VOd7ALuXooIo7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a00718e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN
3,Offices & Warehouses,Commercial,0,ef6fbea4-fbd0-4dd3-a4d9-497e8dbdfe14,2022-01-18T21:37:24.571565+00:00,2022-01-18T21:37:24.571565+00:00,VOd7ALuXooIp7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a00728e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN
4,Offices & Warehouses,Commercial,0,dc079f6a-b0cf-41f8-a173-0cc055f87d5a,2022-01-18T21:37:24.6713281+00:00,2022-01-18T21:37:24.6713281+00:00,VOd7ALuXooIq7wAAAAAAAA==,dbs/VOd7AA==/colls/VOd7ALuXooI=/docs/VOd7ALuXo...,"""2a00738e-0000-0200-0000-676c82be0000""",attachments/,projectType,20240330,1735164606,NaN,NaN

In [17]:
project_type = project_type[['project_category', 'construction_category', 'id']]

In [19]:
merged = pd.merge(pcs_data, project_type, how='left', left_on='projectTypeId', right_on='id')

In [20]:
merged.columns

Index(['division', 'subdivision', 'item_code', 'description', 'quantity',
       'unit', ' labor_hourly_rate ', ' man_hrs_per_unit ',
       ' total_man_hours ', ' labor_total ', ' material_qty ',
       ' material_unit ', ' material ', ' material_total ', ' equipment_qty ',
       ' equipment_unit ', ' equipment ', ' equipment_total ', ' other_cost1 ',
       ' other_cost2 ', ' other_cost3 ', ' unit_cost ', ' unit_cost_total ',
       'subcontractor_qty', 'subcontractor_total', 'subcontractor',
       ' total_mat_lab_equip ', 'notes', 'project_id', 'project_type_id',
       'phase_id', 'content_id', 'file_id', 'file_name', 'source_file',
       'template_type', 'projectTypeId', 'projectId', 'phaseId', 'contentId',
       'fileId', 'source_file_name', 'unit_7', 'quantity_6', 'unit_cost_24',
       'total_mat_lab_equip_28', 'unit_cost_23', 'project_category',
       'construction_category', 'id'],
      dtype='object')

In [21]:
merged = merged[['division', 'subdivision', 'item_code', 'description', 'quantity',
       'unit', ' labor_hourly_rate ', ' man_hrs_per_unit ',
       ' total_man_hours ', ' labor_total ', ' material_qty ',
       ' material_unit ', ' material ', ' material_total ', ' equipment_qty ',
       ' equipment_unit ', ' equipment ', ' equipment_total ', ' other_cost1 ',
       ' other_cost2 ', ' other_cost3 ', ' unit_cost ', ' unit_cost_total ',
       'subcontractor_qty', 'subcontractor_total', 'subcontractor',
       ' total_mat_lab_equip ', 'notes', 'project_id', 'project_type_id',
       'phase_id', 'content_id', 'file_id', 'file_name', 'source_file',
       'template_type', 'projectTypeId', 'projectId', 'phaseId', 'contentId',
       'fileId', 'source_file_name', 'project_category',
       'construction_category', 'id']]

In [ ]:
['description', 'quantity',
       'unit', 
       ' total_mat_lab_equip ', 'project_id', 'project_type_id', 'source_file',
       'fileId', 'source_file_name', 'project_category',
       'construction_category', 'id']

Index(['division', 'subdivision', 'item_code', 'description', 'quantity',
       'unit', ' labor_hourly_rate ', ' man_hrs_per_unit ',
       ' total_man_hours ', ' labor_total ', ' material_qty ',
       ' material_unit ', ' material ', ' material_total ', ' equipment_qty ',
       ' equipment_unit ', ' equipment ', ' equipment_total ', ' other_cost1 ',
       ' other_cost2 ', ' other_cost3 ', ' unit_cost ', ' unit_cost_total ',
       'subcontractor_qty', 'subcontractor_total', 'subcontractor',
       ' total_mat_lab_equip ', 'notes', 'project_id', 'project_type_id',
       'phase_id', 'content_id', 'file_id', 'file_name', 'source_file',
       'template_type', 'projectTypeId', 'projectId', 'phaseId', 'contentId',
       'fileId', 'source_file_name', 'project_category',
       'construction_category', 'id'],
      dtype='object')

In [26]:
#encode source_file_name into projectId
merged['projectId'] = merged['source_file_name'].astype('category').cat.codes

In [30]:
merged[' total_mat_lab_equip '] = merged[' total_mat_lab_equip '].str.replace(',', '').str.replace('$', '')

In [31]:
merged[' total_mat_lab_equip '] = merged[' total_mat_lab_equip '].astype('float64')

In [32]:
merged[['description', 'quantity',
       'unit', 
       ' total_mat_lab_equip ', 'project_id', 'project_type_id', 'source_file_name',
       'fileId', 'project_category',
       'construction_category', 'id']].to_csv('cleaned.csv', index=False)